// Mont serrat fonts - START

@font-face {
    font-family: 'FONTNAME';
    src: url('assets/fonts/FOLDERNAME/FONTNAME-Light.eot');
    src: url('assets/fonts/FOLDERNAME/FONTNAME-Light.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/FOLDERNAME/FONTNAME-Light.woff2') format('woff2'),
        url('assets/fonts/FOLDERNAME/FONTNAME-Light.woff') format('woff'),
        url('assets/fonts/FOLDERNAME/FONTNAME-Light.ttf') format('truetype'),
        url('assets/fonts/FOLDERNAME/FONTNAME-Light.svg#FONTNAME-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTNAME';
    src: url('assets/fonts/FOLDERNAME/FONTNAME-Regular.eot');
    src: url('assets/fonts/FOLDERNAME/FONTNAME-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/FOLDERNAME/FONTNAME-Regular.woff2') format('woff2'),
        url('assets/fonts/FOLDERNAME/FONTNAME-Regular.woff') format('woff'),
        url('assets/fonts/FOLDERNAME/FONTNAME-Regular.ttf') format('truetype'),
        url('assets/fonts/FOLDERNAME/FONTNAME-Regular.svg#FONTNAME-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTNAME';
    src: url('assets/fonts/FOLDERNAME/FONTNAME-Medium.eot');
    src: url('assets/fonts/FOLDERNAME/FONTNAME-Medium.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/FOLDERNAME/FONTNAME-Medium.woff2') format('woff2'),
        url('assets/fonts/FOLDERNAME/FONTNAME-Medium.woff') format('woff'),
        url('assets/fonts/FOLDERNAME/FONTNAME-Medium.ttf') format('truetype'),
        url('assets/fonts/FOLDERNAME/FONTNAME-Medium.svg#FONTNAME-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTNAME';
    src: url('assets/fonts/FOLDERNAME/FONTNAME-SemiBold.eot');
    src: url('assets/fonts/FOLDERNAME/FONTNAME-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/FOLDERNAME/FONTNAME-SemiBold.woff2') format('woff2'),
        url('assets/fonts/FOLDERNAME/FONTNAME-SemiBold.woff') format('woff'),
        url('assets/fonts/FOLDERNAME/FONTNAME-SemiBold.ttf') format('truetype'),
        url('assets/fonts/FOLDERNAME/FONTNAME-SemiBold.svg#FONTNAME-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTNAME';
    src: url('assets/fonts/FOLDERNAME/FONTNAME-Bold.eot');
    src: url('assets/fonts/FOLDERNAME/FONTNAME-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/FOLDERNAME/FONTNAME-Bold.woff2') format('woff2'),
        url('assets/fonts/FOLDERNAME/FONTNAME-Bold.woff') format('woff'),
        url('assets/fonts/FOLDERNAME/FONTNAME-Bold.ttf') format('truetype'),
        url('assets/fonts/FOLDERNAME/FONTNAME-Bold.svg#FONTNAME-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}